#ajax-results {
	background-color: #fff;
	border-radius: 6px;
	color: #444;
	font-size: 12px;
	max-height: 400px;
	overflow: auto;	
}
#ajax-results label {
	font-weight: normal;	
}
#ajax-results ul li {
	list-style-type: none;
}
#filter {
	background-color:rgba(255,255,255,.7);
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 10px 16px 10px 16px;
	position: absolute;
	top: 80px;
	left: 10%;
	z-index: 2000;
}
#filter input[type="text"] {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 6px;
}
#filter input[type="submit"] {
	background-color: #ddd;
	border: 1px solid #aaa;
	border-radius: 6px;
	height: 30px;
}
#filter input[type="submit"]:hover {
	background-color: #eee;
}
#filter-title {
	color: #444;
	font-size: 13px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
}
#map-canvas-wrap {
	height: 564px;
	min-height: 564px;
	margin-bottom: 12px;
}
#map-wrap, #map-canvas {
	height: 100%;
	padding: 0;
	width: 100%;
}
.info-window {
	min-height: 120px;
	min-width: 200px;
}